@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #2b2b35;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f2ecff, #e6ddff);
}

.container{
    position: relative;
    width: 750px;
    height: 450px;
    border: 2px solid #6a1b9a;
    box-shadow: 0 15px 40px rgba(106, 27, 154, 0.45);
    overflow: hidden;
    background: #faf7ff;
}

.container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-box.Login{
    left: 0;
    padding: 0 40px;
}

.form-box.Login .animation{
    transform: translateX(0%);
    transition: .7s;
    opacity: 1;
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Login .animation{
    transform: translateX(-120%);
    opacity: 0;
    transition-delay: calc(.1s * var(--D));
}

.form-box.Register{
    right: 0;
    padding: 0 60px;
}

.form-box.Register .animation{
    transform: translateX(120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--S));
}

.container.active .form-box.Register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
    transition-delay: calc(.1s * var(--li));
}

.form-box h2{
    font-size: 32px;
    text-align: center;
    color: #4a148c;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2b2b35;
    font-weight: 600;
    border-bottom: 2px solid #b39ddb;
    padding-right: 23px;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid{
    border-bottom: 2px solid #6a1b9a;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #6d6d7d;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #6a1b9a;
}

.input-box box-icon{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    transform: translateY(-50%);
    color: #6d6d7d;
}

.input-box input:focus ~ box-icon,
.input-box input:valid ~ box-icon{
    color: #6a1b9a;
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #6a1b9a;
    color: #4a148c;
    overflow: hidden;
    z-index: 1;    
}

.btn::before{
    content: "";
    position: absolute;
    height: 300%;
    width: 100%;
    background: linear-gradient(
        #b3a1d8,
        #6a1b9a,
        #b3a1d8,
        #6a1b9a
    );
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .5s;
}

.btn:hover{
    color: #ffffff;
}

.btn:hover:before{
    top: 0;
}

.regi-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
}

.regi-link a{
    text-decoration: none;
    color: #6a1b9a;
    font-weight: 600;
}

.regi-link a:hover{
    text-decoration: underline;
}

.info-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-content.Login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.info-content.Login .animation{
    transform: translateX(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--S));
    opacity: 1;
    filter: blur(0px);
}

.container.active .info-content.Login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--D));
}

.info-content.Register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 38px;
    pointer-events: none;
}

.info-content.Register .animation{
    transform: translateX(-120%);
    transition: .7s ease;
    opacity: 0;
    filter: blur(10PX);
    transition-delay: calc(.1s * var(--S));
}

.container.active .info-content.Register .animation{
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--li));
}

.info-content h2{
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
    color: #4a148c;
}

.info-content p{
    font-size: 16px;
    color: #4e4e5e;
}

.container .curved-shape{
    position: absolute;
    right: 0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #ede7ff, #6a1b9a);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}

.container.active .curved-shape{
    transform: rotate(0deg) skewY(0deg);
    transition-delay: .5s;
}

.container .curved-shape2{
    position: absolute;
    left: 250px;
    top: 100%;
    height: 700px;
    width: 850px;
    background: #f2ecff;
    border-top: 3px solid #6a1b9a;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}

.container.active .curved-shape2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}
